@import "variables";
@import "breakpoints";

.react-media-library {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background-color: rgba($gray-900, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  button {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
  .icon-checkmark,
  .icon-success {
    &:before {
      content: '\2713';
      display: inline-block;
    }
  }

  .icon-processing {
    &:before {
      display: inline-block;
      content: "\2026";
    }
  }

  .icon-close,
  .icon-failed {
    &:before {
      display: inline-block;
      content: "\2715";
    }
  }

  &__modal {
    color: $black;
    background-color: $white;
    width: 100%;
    height: 100%;
    overflow: auto;

    @include media-breakpoint-up(md) {
      border-radius: 0.5rem;
      width: 90%;
      height: initial;
      overflow: initial;
    }
    @include media-breakpoint-up(xl) {
      max-width: 80rem;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $gray-200;

      &__title {
        margin: 0;
      }

      &__close {
        button {
          border: 0;
          background: none;
        }
      }
    }
  }

  &__tabs {
    margin-bottom: 1rem;

    &__header {
      display: flex;
      gap: 0.5rem;
      border-bottom: 1px solid $gray-200;
      padding: 0 1rem;
      margin: 1rem 0;

      &__item {

        button {
          border-top: 1px solid $gray-200;
          border-left: 1px solid $gray-200;
          border-right: 1px solid $gray-200;
          border-bottom: 0;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          padding: 1rem;
        }

        &.is-active {
          button {
            background-color: $primary;
            color: $white;
          }
        }
      }
    }
  }

  &__file-library {
    &__row {
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

    &__main {
      overflow: auto;

      @include media-breakpoint-up(md) {
        overflow: initial;
        flex: 1;
        min-width: 0;
      }
    }

    &__empty {
      text-align: center;
      padding: 3rem 0;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0 1rem;

      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        max-height: calc(80vh - 15rem);
        overflow: auto;
      }

      &__item {
        cursor: pointer;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
          width: calc(50% - (1rem / 2));
          margin-bottom: 0;
        }
        @include media-breakpoint-up(lg) {
          width: calc(33.33% - (2rem / 3));
        }
      }
    }
  }

  &__file-library-card {
    border: 2px solid $gray-200;
    border-radius: 0.5rem;
    overflow: hidden;

    .is-selected & {
      border-color: $primary;
    }

    &__image {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &__title {
      padding: 0.5rem 1rem;
      margin: 0;
      border-bottom: 1px solid $gray-200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__description {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $gray-200;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0.5rem 1rem;
    }
  }

  &__file-library-pager {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    &__item {
      border: 1px solid $gray-400;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;

      &.is-first {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

     &.is-last {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &.is-active {
        border-color: $primary;
        background-color: $primary;
        color: $white;
      }
    }
  }

  &__file-library-selected-items {
    padding-top: 1rem;

    @include media-breakpoint-up(md) {
      width: 33%;
      display: flex;
      flex-direction: column;
      padding-top: 0;
    }
    @include media-breakpoint-up(lg) {
      width: 25%;
    }

    &__list {
      list-style: none;
      padding: 0 1rem;
      margin: 0;

      @include media-breakpoint-up(md) {
        flex: 1;
        max-height: calc(80vh - 15rem);
        overflow: auto;
      }

      &__item {
        margin-bottom: 1rem;
      }
    }

    &__actions {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      padding: 0 1rem;

      &__select {
        background-color: $primary;
        color: $white;
        border: 0;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
      }

      &__delete {
        color: $danger;
        border: 0;
        padding: 0;
        background: none;
        text-decoration: underline;
      }
    }
  }

  &__file-library-selected-items-card {
    border: 1px solid $gray-400;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &__image {
      width: 4rem;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &__info {
      flex: 1;
      min-width: 0;
    }

    &__title {
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__file-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__actions {
      button {
        border: 0;
        background: none;
      }
    }
  }

  &__file-upload {
    margin: 0 1rem 1rem;
    padding: 3rem;
    text-align: center;
    border: 2px dashed $gray-400;
    border-radius: 1rem;
    cursor: pointer;

    &.is-drag-active {
      border-color: $success;
    }

    p {
      margin: 0;
    }
  }

  &__file-upload-result {
    padding: 0 1rem;

    h3 {
      text-align: center;
    }
    &__list {
      list-style: none;
      padding: 0;
      max-width: 30rem;
      border: 1px solid $gray-400;
      border-radius: 0.5rem;
      margin: 0 auto;

      &__item {
        display: flex;
        gap: 1rem;
        align-items: center;
        border-bottom: 1px solid $gray-400;
        padding: 0.5rem 1rem;

        &:last-child {
          border-bottom: 0;
        }
        &.status-failed {
          color: $danger;
        }
        &.status-success {
          color: $success;
        }

        &__filename {
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
